/* font-family: 'Marcellus SC', serif;
font-family: 'Halant', serif; */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html{
  background-color: #006600;
}

h1{
  font-size: 4em;
  color: white;
  font-family: 'Marcellus SC', serif;
  margin-left: .5em;
}

.cards {
  display: inline-block;
  display: absolute;
}

.up{
  position: relative;
}

.down{
  /* bottom: 2em; */
  position: relative;
}

.fixedUp, .fixedDown{
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-width: .25em;
  height: 11em;
  width: 7em;
}

.cardNU{
  position: relative;
  left: .7em;
  bottom: .6em;
  font-size: 1.6em;
  z-index: 1;

}

.cardND{
  position: relative;
  left: 2.8em;
  bottom: 1.8em;
  font-size: 1.6em;
  z-index: 1;
}

.suit{
  position: relative;
  bottom: .5em;
  left: .7em;
  margin: 0;
  font-size: 3em;
  z-index: 1;
}

#besides{
  position: absolute;
  display: inline-block;
}

#fixedCard{
  position: relative;
  left: 3em;
  top: 6em;
  height: 11em;
  width: 7em;
  background-image: url(deck.png);
  background-position: center;
  background-size: 6.6em 10.6em;
}

.scorediv{
  position: relative;
  bottom: 11em;
  left: 13em;
}

.THEscore, #scoreBox {
  font-family: 'Halant', serif;
  font-style: italic;
  font-size: 3em;
  display: inline-block;
  color: white;

}
#scoreBox{
  margin-left: .2em;
}

#message{
  font-family: 'Halant', serif;
  font-style: italic;
  font-size: 4em;
  font-weight: bolder;
  margin-top: 0;
  margin-bottom: .5em;
  color: white;
}
#opponentResult{
  font-family: 'Halant', serif;
  font-style: italic;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: .5em;
  color: white;

}

.allButtons{
  margin-left: 3em;
}

.button{
  border-style: solid;
  padding: 1em;
  margin-left: 2em;
  background-color: white;
  display: inline-block;
}

.startingC{
  z-index: 1;
}


@keyframes move{
    from {right: 0; top: 0; background-image: none;}
    to {right: 39.2em; top: 6.2em; background-image: url(deck.png);}
}

@keyframes move2 {
  from {right: 0; top: 0;}
  to {right: 32em; top: 6.2em;}
}

@keyframes move3 {
  from {right: 0; bottom: 0}
  to {right: 39.2em; bottom: 6.2em;}
}

@keyframes move4 {
    from {right: 0; bottom: 0}
    to {right: 32em; bottom: 6.2em;}
}

.movingC1, .movingC2, .movingC3, .movingC4{
  width:6.6em;
  height:10.6em;
  position: absolute;
  bottom: 0;
  right: .2em;
  animation-duration: .3s;
  z-index: -1;
  animation-fill-mode: forwards;
}

.movingC1{
  animation-name: move;
}

.movingC2{
  animation-name: move2;
  animation-delay: .2s;
}

.movingC3{
  animation-name: move3;
  animation-delay: .4s;

}
.movingC4{
  animation-name: move4;
  animation-delay: .6s;
}
